body, html {
    min-height: 100%;
}

body{
	
	height: 100%;
	background-image: url();
	background-position: center;
    background-size: 100%;
	background-repeat: no-repeat;
	transition: all 4s ease;
	animation: fadeOut 4s;
}

